<!DOCTYPE HTML>
<html>
<head>
    <title>Locations</title>
    <link href="/static/css/locations.css" media="all" rel="stylesheet" type="text/css"/>

    <title>Accessing arguments in UI events</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

    <script data-main="/static/js/main" src="/static/js/ext/require.js"></script>
</head>

<body>
<div id="map-canvas"></div>

<div id="location"></div>


</body>

</html>
